__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
frontend/.env
backend/.venv/
*.db
test.db
backend/test.db
celerybeat-schedule
self-signed.crt
self-signed.key
nginx/self-signed.crt
nginx/self-signed.key
